@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Me conheça <a href="https://www.instagram.com/joaopso15/?hl=pt">Entre e seja felis =)</a>.</p>
</div>
